.main-product{
    box-sizing: border-box
}
.collection-breadcrumb{
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
    align-content: center;
}
.collection-breadcrumb p{
    color: #999999;
    font-size: 12px;
}
.colection{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-sidebar{
    width: 100%;
    max-width: 300px;
}
.page-content{
    width: 100%;
    max-width: calc(100% - 300px);
}
.articleLookbook-item{
    padding: 15px;
}
toolbar-item{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding:15px 0;
}

.toolbar .toolbar-colLeft{
    background-color: blanchedalmond;
}

.toolbar-colRight{
    display: flex;
}
.toolbar-limiteView{
    display: flex;
    padding-right: 15px;
}
.toolbar-sort{
    display: flex;
}
.list-product{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    justify-items: center;
}

.list-product img{
    padding: 10px;
    object-fit: contain;
}
.pagination-wrapper{
    text-align: center;
    padding: 50px;
}
.pagination-wrapper button{
    width: 200px;
    height: 50px;
    margin-top: 15px;
}