/* 
.slide-in-left{
    opacity: 0;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
}
.slide-in-right{
    opacity: 0;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
}
.slide-in-right.visible {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.slide-in-left.visible {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
 
   */
:root {
  /* Màu sắc */
  --primary-color: #4CAF50;
  --secondary-color: #f4f4f4;
  --warning-color: #ff2020;
  --hover-color:#555;
  --border-color: #DBDFE6;
  --background-color: #f5f5f5;
  --div-color: #fff;
  /* Padding */
  --default-padding: 10px;
  --default-margin: 10px;

  /* Font */
  --font-family: 'Arial, sans-serif';
  --font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

/* Custom thanh cuộn chung */
::-webkit-scrollbar {
  width: 5px;
  /* Độ rộng của thanh cuộn dọc */
  height: 5px;
  /* Độ rộng của thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  /* Màu nền của track */
  border-radius: 10px;
  /* Bo góc */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Màu của thanh kéo */
  border-radius: 10px;
  /* Bo góc */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Màu của thanh kéo khi hover */
}

button {
  border-radius: 5px;
  border: 1px solid #888;
  cursor: pointer;
}
input[type='submit']{
  cursor: pointer;
}