/* HomePageAdmin.css */



.content {
    display: flex;
    position: relative;
    max-width: 100%;
    background-color: #fff;
}


.logo-admin-page {
    position: fixed;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dbdfe6;
    height: 70px;
    width: 25%;
    background-color: #fff;
}
.logo-admin-page a{
    padding: 10px;
}
.aside-content{
    margin-top: 70px;
    overflow-y: auto;
    background-color: #fff;
}

.logo-admin-page .close-button{
    display: none;
    cursor: pointer;
    background-color: #fff;
}

.header-admin-page{
    position: fixed;
    border-bottom: 1px solid #dbdfe6;
    height: 70px;  
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.header-admin-page button{
    margin: 0 10px; 
    background-color: #fff;
}
.user-info {
    margin: 0 10px;
}
.aside {
    position: fixed;
    top: 0;
    left: -25%;
    width: 25%;
    height: 100%;
    border-right: 1px solid #dbdfe6;
    transition: left 0.3s ease, background-color 0.3s ease;
    z-index: 2;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}

.aside.active {
    left: 0;
    
}

main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: left 0.3s ease, background-color 0.3s ease;
    /* Để trượt nếu muốn */
}
.main button{
    border: none;
    cursor: pointer;
}
.main.shifted {
    left: 25%;
    /* Dịch sang đúng chiều rộng của aside */
    width: 75%;
}



@media (max-width: 768px) {
    .aside {
        width: 50%;
        left: -50%;
    }
    .aside.active {
        left: 0;
    }
    /* .main.shifted {
        left: 25%;
        width: 100%;        
        opacity: 0.5;
        background-color: black;
    }
     */

    .main{
        position: static;
    }
    .main.shifted {
        /* Dịch sang đúng chiều rộng của aside */
        width: 100%;
    }
    .chart{
        width: 100%;
    }
    .logo-admin-page{
        width: 50%;
    }
    .logo-admin-page .close-button{
        width: 27px;
        height: 27px;
        border: none;
        margin-top: 10px ;
        display: block;
    }
}
.content-admin-page{
    margin-top: 70px;
    background-color: #dbdfe6;
    height: auto;
}