.slider-wrapper {
    height: 500px;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .slider-wrapper .slider-container {
    display: flex;
    width: 100%;
 
  }
  
  .slider-wrapper .slider-container .slider-image {
    width: 1200px;
    flex-shrink: 0;
    border-radius: 10px;
    margin:  0 10px;
  }
  
  .blog-container {
    height: 500px;;
  }
  
  .slider-btn {
    position: absolute;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
  }
  
  .left {
    top: 50%;
    left: 10px;
  }
  
  .right {
    top: 50%;
    right: 10px;
  }