.img-product-cart{
    max-height: 100px;
    margin-right: 20px;
}
.cart .list-cart li, .title-cart{
    border-bottom: 1px dotted #6e6e6e;
    padding: 10px;
    margin: 0 auto;
}
.cart {
    width: 80%;
    margin: 0 auto;
    min-height: 30vw;
}
.title-cart li{
    width: 25%;
    text-transform: uppercase;
}
.cart .title-cart{
    display: flex;
    list-style-type: none;
}
.products-cart{
    display: flex;
    align-items: center;
    position: relative;
}
.products-cart div, .title-cart li{
    text-align: center;
}
strong {
    font-weight: 400;
    color:#6e6e6e;
    font-size: 12px;
}
.products-cart .title-cart{
    justify-content: center;
}
.products-cart .title-product-cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title-product-cart{
    width: 25%;
}
.products-cart .remove-cart{
    position: absolute;
    right: 0;
}
.cart-total{
    text-align: center;
    padding: 30px 0;
}
.cart-total button{
    padding: 10px 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3333333;
}
.info-product-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.info-product-cart div{
    width:  calc(100%/3);
}
.label-temp{
    display: none;
    font-size: 12px;
}
.name-item-cart{
    display: none;
}
@media (max-width: 768px) {
    .label-temp ,.name-item-cart{
        display:inline;
        font-weight: 400;
    }
    .info-product-cart{
        display: grid;
        width: 32%;
    }
    .name-item-temp{
        display: none;
    }
    .info-product-cart{
        width: 68%;
    }
    .products-cart{
        text-align: start;
    }
    .info-product-cart div{
        width: 100%;
    }
    .title-cart{
        display: none !important;
    }
    .name-item-cart .label-temp{
        font-size: 18px;
    }
}