

.aside-menu ul {
    list-style-type: none;
    padding: 0 10px;
}

.aside-menu li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}
.aside-menu li a {
    display: block; /* Làm cho thẻ <a> bao phủ toàn bộ thẻ <li> */
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.aside-menu li.active {
    background-color: #dbdfe6;
}
.aside-menu li:hover {
    background-color: #e8eff8;
}
/* .aside-menu li.active a {
    color: white;
} */

.aside-menu .active {
    left: 0;
}
.aside-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

